*.info
*.log
*.info.log
lplib.pyc
suites.pyc
results/
apps/cpu2017/__init__.pyc
apps/demo/__init__.pyc
tools/pin-3.13-98189-g60a6ef199-gcc-linux
tools/sde-external-9.0.0-2021-11-07-lin
tools/sniper
tools/src/Drivers/obj-intel64
tools/src/Profiler/obj-intel64
tools/src/Drivers/obj-ia32
tools/src/Profiler/obj-ia32
