*.info
*.log
*.info.log
*.info.cfg
*.info.status
pin-tool-log.txt
lplib.pyc
suites.pyc
__pycache__
apps/cpu2017/__init__.pyc
apps/demo/__init__.pyc
base.exe
apps/demo/dotproduct-omp/dotproduct-omp
apps/demo/matrix-omp/matrix-omp
results
tools/pin-3.13-98189-g60a6ef199-gcc-linux
tools/sde-external-9.44.0-2024-08-22-lin
tools/sniper
obj-intel64
obj-ia32
tools/src/Drivers/obj-intel64
tools/src/Profiler/obj-intel64
tools/src/Drivers/obj-ia32
tools/src/Profiler/obj-ia32
